<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate-css/animate.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Imperial
      Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Admin Login</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Login to admin console and manage files</p>
            </div>
        </div>
        <div class="col-md-4 col-md-push-4 text-center">
            <div class="form">
                <div id="errormessage"></div><!-- adminProductList -->
                <form th:action="@{/loginUser}" th:object="${userDto}" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="email" th:field="*{email}" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{password}" class="form-control" name="password" id="password" placeholder="password" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Login</button></div>
                    <div id="errordiv" class="hidden">Invalid Username or password</div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Required JavaScript Libraries -->
<!--<script th:src="@{/javascript/jquery-3.3.1.min.js}"></script>-->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
<script th:src="@{/lib/superfish/superfish.min.js}"></script>
<script th:src="@{/lib/morphext/morphext.min.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/stickyjs/sticky.js}"></script>
<script th:src="@{/lib/easing/easing.js}"></script>

<!-- Template Specisifc Custom Javascript File -->
<script th:src="@{/javascript/custom.js}"></script>
<script>
    $(document).ready(function(){
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        var auth = getUrlVars()["auth"];
        if(auth == 1){
            $('#errordiv').removeClass('hidden');
        }
    });
</script>
</body>
</html>